:root {
  --primary-cyan: hsl(180, 29%, 50%);
  --bg-color: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-gray: hsl(180, 8%, 52%);
  --very-dark-gray: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px 70px;
  position: relative;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background-color: var(--bg-color);
}

/* Header */
.header-bg {
  background-color: var(--primary-cyan);
  height: 20vh;
  width: 100%;
}


/* Job Lijst */
.job-list {
  margin-top: 4.75em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.job-card {
  background: white;
  padding: 2em 2.5em;
  border-radius: 0.5em;
  box-shadow: 0 1em 1.25em -0.5em rgba(13, 113, 130, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 0.5em solid transparent;
}

.job-card.featured {
  border-left-color: var(--primary-cyan);
}